<section>
    <p>
        Salut! Apasă pe linkul de mai jos pentru a-ți verifica adresa de email și a începe!
        <a href="{{SITE_URL}}/verification?token={{token}}&email={{{email}}}">Verifică email</a>
    </p>
</section>